* {text-decoration: none;
list-style:none ;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }



.centro{
padding-left: 370px;
text-align:center;
}

header{
display:flex;
justify-content: space-between;
align-items: center;
    
}

.nav__otro{
   
padding-left: 400px;
}

.productos {
    display: flex;
    flex-wrap: wrap;}
    
    .producto {
        width: auto;
        height: auto;
        padding: 10px;
        margin: 30px;
        margin-bottom: 20px;
        padding-left: 80px;
      }
        
      .producto__image {
        width: 200px;
        height: 300px;
        max-width: 100%;
        object-fit: 100%;
    }
     
 
 .info{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contacto{
    display: flex;
    align-items: center;
justify-content: center;
   
    }
h3{
    display: flex;
    align-items: center;
    margin:5px;
}
p1{
    display: flex;
    align-items: center;
}


.menu__inferior{
    display: flex;
    
    justify-content: space-between;
}
.menu__infer{
    display:flex;
    justify-content: space-between;
    margin: 40px;
    }

   .navbar__item{
    margin-top: 10px;
   }

   